* {
	transition: all .2s ease-in;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	color: #a4a4a4;
	font-weight: bold;
	font-size: 13px;
}
.find {
	padding-top: 40px;
	margin-left: 10%;
	width: 80%;
}
[type="search"] {
	position: relative;
	border: none;
	color: #EC5A62;
	background-color: #F1F1F1;
	height: 110px;
	font-size: 90px;
	width: 95%;
}
input[type="submit"] {
	position: absolute;
	width: 80px;
	height: 80px;
	background: url('img/magnifier.svg');
	font-size: 0;
	cursor: pointer;
	border: 0;
	top: 55px;
	right: 10%;
	transform-origin: right center;
}
input[type="submit"]:hover {
	-webkit-transform: scaleX(1.1) scaleY(1.1);
	   -moz-transform: scaleX(1.1) scaleY(1.1);
	    -ms-transform: scaleX(1.1) scaleY(1.1);
	     -o-transform: scaleX(1.1) scaleY(1.1);
	        transform: scaleX(1.1) scaleY(1.1);
}
input::-webkit-input-placeholder { color: #c2c2c2; }
input::-moz-placeholder { color: #c2c2c2; }
input:focus { outline: none; }
body {
	background-color: #F1F1F1;
}
ul {
	list-style: none;
}
li {
	background-color: rgba(118, 117, 128, 0.05);
	margin-bottom: 3.5px;
	margin-top: 3.5px;
	text-align: left;
	border-radius: 5px;
	height: 75px;
}
li:hover {
	background-color: rgba(118, 117, 128, 0.1);
}
li:hover span {
	color: #EC5A62;
}
.info {
	box-sizing: border-box;
	margin-left: 10%;
	width: 80%;
	text-align: center;
	margin-top: 40px;
}
.people, .popular, .recent {
	box-sizing: border-box;
	display: inline-block;
	width: 30%;
}
.people img {
	border-radius: 100%;
}
.popular {
	margin-left: 4.5%;
	margin-right: 4.5%;
}
h1 {
	margin-bottom: 15px;
	margin-top: 15px;
	text-align: left;
	font-size: 17px;
	font-weight: bolder;
	color: #c2c2c2;
}
a {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	padding: 10px;
	box-sizing: border-box;
}
img {
	box-sizing: border-box;
	margin-right: 10px;
	display: inline;
	vertical-align: middle;
}
span {
	box-sizing: border-box;
	display: inline;
	vertical-align: middle;
}
